@import url('https://fonts.googleapis.com/css?family=Raleway:300');

body{
    font-family: 'Raleway', sans-serif;
    text-align: center;
}

#mapid{
    width: 90vw;
    height: 80vh;
    margin: 0 auto;
}